.container {
    width: 100px;
    height: 240px;
}

.list {
    overflow-y: scroll;
    height: 100%;
    padding: 0;
    width: 100%;
}

.list li {
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px black solid;
}